# Exploratory Data Analysis with SQL

Exploratory data analysis is performed using SQL queries with the RSQLite R package.

## Establish an SQLite connection with R

Load the 'RSQLite' library.

In [1]:
# provide your solution here

# install.packages("RSQLite")
# install.packages("tidyverse")

library(RSQLite)
library(curl)
library(tidyverse)

Using libcurl 7.64.1 with Schannel

-- Attaching packages --------------------------------------- tidyverse 1.3.2 --
v ggplot2 3.4.0     v purrr   1.0.1
v tibble  3.1.8     v dplyr   1.1.0
v tidyr   1.3.0     v stringr 1.5.0
v readr   2.1.3     v forcats 1.0.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter()     masks stats::filter()
x dplyr::lag()        masks stats::lag()
x readr::parse_date() masks curl::parse_date()

Use 'dbConnect( )' to establish a connection to the SQLite database.

In [2]:
# Create a connection to a local database file. NB Check if file is created if it does not exist
conn <- dbConnect(RSQLite::SQLite(),"bike_shareDB.sqlite") 
conn

# Get connection attributes
attributes(conn)

# Get connection information
conn.info <- dbGetInfo(conn) 
conn.info
print(conn.info["db.version"])
print(conn.info["dbname"])

<SQLiteConnection>
  Path: C:\Users\djtal\OneDrive\Jupyter Notebooks\bike_shareDB.sqlite
  Extensions: TRUE

$ptr
<pointer: 0x000000001358c4b0>

$dbname
[1] "C:\\Users\\djtal\\OneDrive\\Jupyter Notebooks\\bike_shareDB.sqlite"

$loadable.extensions
[1] TRUE

$flags
[1] 70

$vfs
[1] ""

$ref
<environment: 0x000000003aa60558>

$bigint
[1] "integer64"

$extended_types
[1] FALSE

$class
[1] "SQLiteConnection"
attr(,"package")
[1] "RSQLite"

$db.version
[1] "3.40.0"

$dbname
[1] "C:\\Users\\djtal\\OneDrive\\Jupyter Notebooks\\bike_shareDB.sqlite"

$username
[1] NA

$host
[1] NA

$port
[1] NA

$db.version
[1] "3.40.0"

$dbname
[1] "C:\\Users\\djtal\\OneDrive\\Jupyter Notebooks\\bike_shareDB.sqlite"

Use `curl()` to download the following csv files:

*   [WORLD_CITIES](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv)

*   [BIKE_SHARING_SYSTEMS](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv)

*   [CITIES_WEATHER_FORECAST](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv)

*   [SEOUL_BIKE_SHARING](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv)

Load the csv's  into 4 tables using `read_csv()` and `dbWriteTable()`:
* SEOUL_BIKE_SHARING

* CITIES_WEATHER_FORECAST

* BIKE_SHARING_SYSTEMS 

*  WORLD_CITIES

In [3]:
library(curl)

In [4]:
# Download files with curl
curl_download("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv", "world_cities.csv")

curl_download("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv", "bike_sharing_systems.csv")

curl_download("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv", "cities_weather_forecast.csv")

curl_download("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv", "seoul_bike_sharing.csv")

List database tables.

In [5]:
# List tables in database
dbListTables(conn)

[1] "bike_sharing_systems"    "cities_weather_forecast"
[3] "seoul_bike_sharing"      "world_cities"

Read the datasets from the `.csv` files and write them to the SQLite database.

In [6]:
# Define dataset names
datasets <- c("seoul_bike_sharing", "cities_weather_forecast", "bike_sharing_systems", "world_cities")

# Read datasets from CSV and write to database
for (dataset in datasets)
{
    data_df <- read_csv(paste(dataset, ".csv", sep=""))
    # print(head(data_df))
    dbWriteTable(conn, dataset, data_df, overwrite=TRUE, header = TRUE)
    print(paste("Writing", dataset, "to database."))
}

Rows: 8465 Columns: 14
-- Column specification --------------------------------------------------------
Delimiter: ","
chr  (4): DATE, SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl (10): RENTED_BIKE_COUNT, HOUR, TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBI...

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] "Writing seoul_bike_sharing to database."

Rows: 160 Columns: 12
-- Column specification --------------------------------------------------------
Delimiter: ","
chr  (3): CITY, WEATHER, SEASON
dbl  (8): VISIBILITY, TEMP, TEMP_MIN, TEMP_MAX, PRESSURE, HUMIDITY, WIND_SPE...
dttm (1): FORECAST_DATETIME

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] "Writing cities_weather_forecast to database."

Rows: 480 Columns: 4
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (3): COUNTRY, CITY, SYSTEM
dbl (1): BICYCLES

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] "Writing bike_sharing_systems to database."

Rows: 26569 Columns: 11
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (7): CITY, CITY_ASCII, COUNTRY, ISO2, ISO3, ADMIN_NAME, CAPITAL
dbl (4): LAT, LNG, POPULATION, ID

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] "Writing world_cities to database."

Get colums for each table.

In [7]:
# List tables in database
dbListTables(conn)


# Get column details for each table
for (table in datasets)
{
    cat ("\nColumn info for table", table, ":\n")
    col.detail <- dbColumnInfo(dbSendQuery(conn, paste( "select * from", table)))
    print(col.detail)
}

[1] "bike_sharing_systems"    "cities_weather_forecast"
[3] "seoul_bike_sharing"      "world_cities"

Column info for table seoul_bike_sharing :
                    name      type
1                   DATE character
2      RENTED_BIKE_COUNT    double
3                   HOUR    double
4            TEMPERATURE    double
5               HUMIDITY    double
6             WIND_SPEED    double
7             VISIBILITY    double
8  DEW_POINT_TEMPERATURE    double
9        SOLAR_RADIATION    double
10              RAINFALL    double
11              SNOWFALL    double
12               SEASONS character
13               HOLIDAY character
14       FUNCTIONING_DAY character

Column info for table cities_weather_forecast :

Warning message:
"Closing open result set, pending rows"

                name      type
1               CITY character
2            WEATHER character
3         VISIBILITY    double
4               TEMP    double
5           TEMP_MIN    double
6           TEMP_MAX    double
7           PRESSURE    double
8           HUMIDITY    double
9         WIND_SPEED    double
10          WIND_DEG    double
11            SEASON character
12 FORECAST_DATETIME    double

Column info for table bike_sharing_systems :

Warning message:
"Closing open result set, pending rows"

      name      type
1  COUNTRY character
2     CITY character
3   SYSTEM character
4 BICYCLES    double

Column info for table world_cities :

Warning message:
"Closing open result set, pending rows"

         name      type
1        CITY character
2  CITY_ASCII character
3         LAT    double
4         LNG    double
5     COUNTRY character
6        ISO2 character
7        ISO3 character
8  ADMIN_NAME character
9     CAPITAL character
10 POPULATION    double
11         ID    double

Review the heads of each table.

In [8]:
# Get first 5 records from each table

for (table in datasets)
{
    print(table)
    query <- paste('select * from', table, 'limit 5')
    result <- dbGetQuery(conn, query)
    print(result)
}

[1] "seoul_bike_sharing"

Warning message:
"Closing open result set, pending rows"

        DATE RENTED_BIKE_COUNT HOUR TEMPERATURE HUMIDITY WIND_SPEED VISIBILITY
1 01/12/2017               254    0        -5.2       37        2.2       2000
2 01/12/2017               204    1        -5.5       38        0.8       2000
3 01/12/2017               173    2        -6.0       39        1.0       2000
4 01/12/2017               107    3        -6.2       40        0.9       2000
5 01/12/2017                78    4        -6.0       36        2.3       2000
  DEW_POINT_TEMPERATURE SOLAR_RADIATION RAINFALL SNOWFALL SEASONS    HOLIDAY
1                 -17.6               0        0        0  Winter No Holiday
2                 -17.6               0        0        0  Winter No Holiday
3                 -17.7               0        0        0  Winter No Holiday
4                 -17.6               0        0        0  Winter No Holiday
5                 -18.6               0        0        0  Winter No Holiday
  FUNCTIONING_DAY
1             Yes
2             Yes
3             Yes
4             Yes
5             Yes
[1] "cities_weather_forecast"
   CITY WEATHER VISIBILITY  TEMP TEMP_MIN TEMP_MAX PRESSURE HUMIDITY WIND_SPEED
1 Seoul   Clear      10000 12.32    10.91    12.32     1015       50       2.18
2 Seoul   Clear      10000 11.48     9.81    11.48     1016       48       1.25
3 Seoul  Clouds      10000  9.99     8.82     9.99     1015       46       0.94
4 Seoul  Clouds      10000  7.87     7.87     7.87     1014       46       0.83
5 Seoul  Clouds      10000 10.09    10.09    10.09     1014       37       1.96
  WIND_DEG SEASON FORECAST_DATETIME
1      248 Spring        1618574400
2      142 Spring        1618585200
3      130 Spring        1618596000
4       31 Spring        1618606800
5      309 Spring        1618617600
[1] "bike_sharing_systems"
    COUNTRY                  CITY         SYSTEM BICYCLES
1   Albania                Tirana           <NA>      200
2 Argentina               Mendoza           <NA>       40
3 Argentina San Lorenzo, Santa Fe       Biciudad       80
4 Argentina          Buenos Aires Serttel Brasil     4000
5 Argentina               Rosario           <NA>      480
[1] "world_cities"
     CITY CITY_ASCII     LAT      LNG     COUNTRY ISO2 ISO3  ADMIN_NAME CAPITAL
1   Tokyo      Tokyo 35.6897 139.6922       Japan   JP  JPN       Tokyo primary
2 Jakarta    Jakarta -6.2146 106.8451   Indonesia   ID  IDN     Jakarta primary
3   Delhi      Delhi 28.6600  77.2300       India   IN  IND       Delhi   admin
4  Mumbai     Mumbai 18.9667  72.8333       India   IN  IND Maharashtra   admin
5  Manila     Manila 14.5958 120.9772 Philippines   PH  PHL      Manila primary
  POPULATION         ID
1   37977000 1392685764
2   34540000 1360771077
3   29617000 1356872604
4   23355000 1356226629
5   23088000 1608618140

## Use SQL in R for EDA

### Initial exploration

#### 1. Record Count

Determine the number of records in the `seoul_bike_sharing` dataset.

In [9]:
query <- 'select count(*) from seoul_bike_sharing'
dbGetQuery(conn, query)

  count(*)
1 8465

#### 2. Operational Hours

Determine the number of hours with a non-zero rented bike count.

In [10]:
query <- 'select count(*) from seoul_bike_sharing
    where rented_bike_count <> 0;'
dbGetQuery(conn, query)

  count(*)
1 8465

#### 3. Weather Outlook

Query the the weather forecast for Seoul over the next 3 hours.
The records in the `CITIES_WEATHER_FORECAST` dataset are 3 hours apart. Therefor, only the first record from the query.

In [11]:
query <- 'select * from cities_weather_forecast
    where lower(city) = "seoul"
    limit 1;'
dbGetQuery(conn, query)

  CITY  WEATHER VISIBILITY TEMP  TEMP_MIN TEMP_MAX PRESSURE HUMIDITY WIND_SPEED
1 Seoul Clear   10000      12.32 10.91    12.32    1015     50       2.18
  WIND_DEG SEASON FORECAST_DATETIME
1 248      Spring 1618574400

#### 4. Seasons

Determine which seasons are included in the seoul bike sharing dataset.

In [12]:
query <- 'select distinct seasons from seoul_bike_sharing;'
dbGetQuery(conn, query)

  SEASONS
1 Winter
2 Spring
3 Summer
4 Autumn

#### 5. Date Range

Find the first and last dates in the Seoul Bike Sharing dataset.

In [13]:
# Reverse and format date string by extracting substrings and rearranging them
# query <- 'select date(substr(date,7)||"-"||substr(date,4,2)||"-"||substr(date,1,2)) as date from seoul_bike_sharing limit 5;'

# Use reversed date string to select first and last dates
query <- 'select min(date(substr(date,7)||"-"||substr(date,4,2)||"-"||substr(date,1,2))) as first_date,
    max(date(substr(date,7)||"-"||substr(date,4,2)||"-"||substr(date,1,2))) as last_date from seoul_bike_sharing;'

dbGetQuery(conn, query)

  first_date last_date
1 2017-12-01 2018-11-30

#### 6. Subquery - 'all-time high'

Determine which date and hour had the most bike rentals.

In [14]:
# provide your solution here
query <- 'select date, hour, rented_bike_count from seoul_bike_sharing
    where rented_bike_count = (select max(rented_bike_count) from seoul_bike_sharing);'

dbGetQuery(conn, query)

  DATE       HOUR RENTED_BIKE_COUNT
1 19/06/2018 18   3556

#### 7. Hourly popularity and temperature by season

Determine the average hourly temperature and the average number of bike rentals per hour over each season.\
List the top ten results by average bike count.

In [15]:
query <- 'select seasons, hour, avg(temperature) as avg_temperature, avg(rented_bike_count) as avg_rented_count from seoul_bike_sharing
    group by seasons, hour
    order by avg_rented_count desc
    limit 10;'

dbGetQuery(conn, query)

   SEASONS HOUR avg_temperature avg_rented_count
1  Summer  18   29.38791        2135.141
2  Autumn  18   16.03185        1983.333
3  Summer  19   28.27378        1889.250
4  Summer  20   27.06630        1801.924
5  Summer  21   26.27826        1754.065
6  Spring  18   15.97222        1689.311
7  Summer  22   25.69891        1567.870
8  Autumn  17   17.27778        1562.877
9  Summer  17   30.07691        1526.293
10 Autumn  19   15.06346        1515.568

#### 8. Rental Seasonality

Determine the average hourly bike count during each season.\
Include the minimum, maximum, and standard deviation of the hourly bike count for each season. 

NB SQLite has no Standard Deviation fuction. Use `SQRT(AVG(col*col) - AVG(col)*AVG(col))`, where col is the column name.

In [16]:
query <- 'select seasons,
    avg(rented_bike_count) as avg_hourly_count,
    min(rented_bike_count) as min_hourly_count,
    max(rented_bike_count) as max_hourly_count,
    sqrt(avg(rented_bike_count * rented_bike_count) - avg(rented_bike_count) * avg(rented_bike_count)) as std_deviation
    from seoul_bike_sharing
    group by seasons'

dbGetQuery(conn, query)

  SEASONS avg_hourly_count min_hourly_count max_hourly_count std_deviation
1 Autumn   924.1105        2                3298             617.3885
2 Spring   746.2542        2                3251             618.5247
3 Summer  1034.0734        9                3556             690.0884
4 Winter   225.5412        3                 937             150.3374

In [17]:
# For SQL versions that have the stddev function

# query <- 'select seasons,
#    avg(rented_bike_count) as avg_hourly_count,
#    min(rented_bike_count) as min_hourly_count,
#    max(rented_bike_count) as max_hourly_count,
#    stddev(rented_bike_count)) as std_deviation
#    from seoul_bike_sharing
#    group by seasons'

# dbGetQuery(conn, query)

### Explore the possible significant contributing factors in the provided data.

#### 9. Weather Seasonality

Consider the weather over each season.\
Determine the average `TEMPERATURE`, `HUMIDITY`, `WIND_SPEED`, `VISIBILITY`, `DEW_POINT_TEMPERATURE`, `SOLAR_RADIATION`, `RAINFALL`, and `SNOWFALL` per season.\
Include the average bike count.
Rank the results by average bike count to see if it is correlated with the weather at all.

In [18]:
query <- 'select * from seoul_bike_sharing limit 5'
dbGetQuery(conn, query)

  DATE       RENTED_BIKE_COUNT HOUR TEMPERATURE HUMIDITY WIND_SPEED VISIBILITY
1 01/12/2017 254               0    -5.2        37       2.2        2000
2 01/12/2017 204               1    -5.5        38       0.8        2000
3 01/12/2017 173               2    -6.0        39       1.0        2000
4 01/12/2017 107               3    -6.2        40       0.9        2000
5 01/12/2017  78               4    -6.0        36       2.3        2000
  DEW_POINT_TEMPERATURE SOLAR_RADIATION RAINFALL SNOWFALL SEASONS HOLIDAY
1 -17.6                 0               0        0        Winter  No Holiday
2 -17.6                 0               0        0        Winter  No Holiday
3 -17.7                 0               0        0        Winter  No Holiday
4 -17.6                 0               0        0        Winter  No Holiday
5 -18.6                 0               0        0        Winter  No Holiday
  FUNCTIONING_DAY
1 Yes
2 Yes
3 Yes
4 Yes
5 Yes

In [19]:
query <- 'select
            seasons,
            avg(rented_bike_count) as AVG_RENTED_COUNT,
            avg(temperature) as avg_temperature,
            avg(humidity) as avg_humidity,
            avg(wind_speed) as avg_wind_speed,
            avg(visibility) as avg_visibility,
            avg(dew_point_temperature) as avg_dew_pt_temp,
            avg(solar_radiation) as avg_solar_radiation,
            avg(rainfall) as avg_rainfall,
            avg(snowfall) as avg_snowfall
            from seoul_bike_sharing
        group by seasons
        order by avg_rented_count desc'

dbGetQuery(conn, query)

  SEASONS AVG_RENTED_COUNT avg_temperature avg_humidity avg_wind_speed
1 Summer  1034.0734        26.587711       64.98143     1.609420
2 Autumn   924.1105        13.821580       59.04491     1.492101
3 Spring   746.2542        13.021685       58.75833     1.857778
4 Winter   225.5412        -2.540463       49.74491     1.922685
  avg_visibility avg_dew_pt_temp avg_solar_radiation avg_rainfall avg_snowfall
1 1501.745        18.750136      0.7612545           0.25348732   0.00000000
2 1558.174         5.150594      0.5227827           0.11765617   0.06350026
3 1240.912         4.091389      0.6803009           0.18694444   0.00000000
4 1445.987       -12.416667      0.2981806           0.03282407   0.24750000

#### 10. Total Bike Count and City Info for Seoul

Use an **implicit join** across the `WORLD_CITIES` and the `BIKE_SHARING_SYSTEMS` tables to determine the total number of bikes avaialble in Seoul, plus the associated city information: `CITY`, `COUNTRY`, `LAT`, `LNG`, `POPULATION`, in a single view.\
NB In this case, the `CITY` column will work for the `WORLD_CITIES` table but, in general, the `CITY_ASCII` column should be used.

In [20]:
# provide your solution here
query <- 'select w.city, w.country, w.lat, w.lng, w.population, b.bicycles from world_cities w, bike_sharing_systems b 
            where lower(w.city) = lower(b.city) and lower(w.city = "Seoul")'

dbGetQuery(conn, query)

  CITY  COUNTRY      LAT     LNG POPULATION BICYCLES
1 Seoul Korea, South 37.5833 127 21794000   20000

#### Cities and coordinates with bike scale comparable to Seoul's bike sharing system.

Determine all cities with total bike counts between 15000 and 20000.\
Return the city and country names, plus the coordinates (`LAT`, `LNG`), population, and number of bicycles for each city.\
This will be used later for visualisation with weather data, using `leaflet`.

In [21]:
query <- 'select w.city, w.country, w.lat, w.lng, w.population, b.bicycles from world_cities w, bike_sharing_systems b 
            where lower(w.city_ascii) = lower(b.city) and (b.bicycles between 15000 and 20000)'

dbGetQuery(conn, query)

# NB This does not return cities for which coordinate data does not exist.
# Consider modifying to return all cities with comparable systems, regardless of whether coordinate data exists.

  CITY     COUNTRY      LAT     LNG      POPULATION BICYCLES
1 Beijing  China        39.9050 116.3914 19433000   16000
2 Ningbo   China        29.8750 121.5492  7639000   15000
3 Shanghai China        31.1667 121.4667 22120000   19165
4 Weifang  China        36.7167 119.1000  9373000   20000
5 Xi’an    China        34.2667 108.9000  7135000   20000
6 Zhuzhou  China        27.8407 113.1469  3855609   20000
7 Seoul    Korea, South 37.5833 127.0000 21794000   20000

## Close the SQLite connection.

In [22]:
dbDisconnect(conn)